@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-[#ECFOF3] text-[#1F2937] tracking-wide;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

h1 {
  @apply text-4xl sm:text-5xl md:text-6xl;
}

h2 {
  @apply text-3xl sm:text-4xl;
}

li {
  @apply cursor-pointer;
}

.primary-btn {
  @apply shadow-xl shadow-gray-400 rounded-xl bg-[#0cad3c] text-white;
}

.second-btn {
  @apply !bg-transparent border border-[#0cad3c] rounded-xl text-[#0cad3c];
}

.section-header {
  @apply text-xl tracking-widest uppercase text-[#0cad3c] text-center md:text-left;
}
